.activity--hero {
	@extend .main-article--hero;

}

.activity--overlay {
	@extend .main-article--overlay;
	width: 100%;
}

.activity--title {
	@extend .main-article--title;
	border-bottom: none;
	padding-bottom: 0;
}

.activity--image {
	@extend .main-article--image;
}

.activity--main-info {
	@extend .main-article--paragraph;
}

.activity--button {
	@extend .articles--list__button;
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 10px;
}


.activity--info {
	@extend .sidebar--box;
	width: 100%;
}

.activity--info__top {
	@extend .sidebar--box__top;
	margin-bottom: 0;
	border-bottom: 2px dashed rgba(255, 255, 255, 0.7);
}

.activity--info__title {
	@extend .sidebar--box__title;
	font-size: 1.8em;
	text-align: center;
}

.activity--info__content {
	// padding: 10px;
}


.activity--info__list {
	// border: 1px solid red;
}

	.activity--info__type {
		padding-left: 0;

		&:last-child {
			.activity--info__type--title {
				border-bottom: none;
			}
		}
	}

		.activity--info__type--title {
			font-size: 1.5em;
			background-color: $accent-color;
			color: #fff;
			font-weight: $font-semibold;
			border-bottom: 2px dashed rgba(255, 255, 255, 0.7);
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);

			&:after {
				border-color: #fff;
			}

			&:hover, &:active, &:focus {
				color: #fff;
			}

			.info-icon {
				background-color: $main-color;
				width: 65px;
				height: 65px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-right: 15px;

				i {
					font-size: 1.2em;
					color: #fff;
				}
			}

		}

		.menu.activity--info__list > li:not(.menu-text) > a {
			padding: 0px 0px;

			&:after {
				font-family: 'FontAwesome';
				content: '\f078';
				width: auto;
				height: auto;
				border: none;
				font-size: 1em;
				top: 35%;
				transition: all 0.3s ease-in-out;
			}
			
		}


		.is-accordion-submenu-parent[aria-expanded=true] > a,
		.is-accordion-submenu-parent[aria-expanded=false] > a {
			outline: none;
		}



		.activity--info__type--content {
			padding: 20px;
		}

			.menu.vertical > .activity--info__line {display: flex}
			.activity--info__line {
				font-family: $font-family-domine;
				font-size: 1.4em;
				color: $accent-color;
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 2px dashed rgba(0, 0, 0, 0.1);

				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}

				i {
					font-size: 1.3em;
					// vertical-align: middle;
					color: $main-color;
					width: 40px;
					text-align: center;
				}

				span {
					margin-left: 10px;
				}

				a {
					color: $main-color;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: darken($main-color, 10%);
					}
				}
			}

				.activity--location-list {
					display: inline-flex;
					flex-wrap: wrap;

					div {
						margin-left: 7px;

						&:after {
							position: relative;
							content: ', ';
						}

						&:last-child {
							&:after {
								content: '';
							}
						}

						&:first-child {
							margin-left: 0;
						}
					}

				}





.map-wrapper {
    height: 400px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.map {
    width: 100%;
    height: 100%;
}








.other-activities {
	margin-top: 30px;
}

