.main-article--hero {
	position: relative;
	background-color: $main-color;
	margin-bottom: 30px;
}
	
	.main-article--overlay {
		position: absolute;
		bottom: 0;
		left: 0px;
		width: 75%;
		padding: 20px 10px 0;
		// display: flex;
		// justify-content: center;
		// align-items: center;


		background-color: rgba(0, 0, 0, 0.6);
		z-index: 10;

	}

		.main-article--title {
			font-family: $font-family-raleway;
			font-size: 2.1em;
			font-weight: $font-semibold;
			text-align: left;
			color: rgba(#fff, 0.8);
			width: 90%;
			margin-bottom: 20px;
			padding-bottom: 10px;
			border-bottom: 2px dashed rgba(255, 255, 255, 0.15);
		}	

	.main-article--image {
		position: relative;
		width: 100%;
	}





.main-article--details {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}

	.main-article--details__left {
		display: flex;
	}

	.main-article--details__date {

		margin-right: 15px;

		i {
			font-size: 0.8em;
			color: #fff;
		}


		span {
			font-size: 0.8em;
			color: #fff;
			margin-left: 2px;
		}
	}

	.main-article--details__category {

		margin-right: 15px;

		a {

			color: #fff;
			transition: all 0.3s ease-in-out;

			i {
				font-size: 0.8em;
				vertical-align: middle;

			}


			span {
				font-size: 0.8em;
				font-weight: $font-semibold;
				margin-left: 2px;
			}

			&:hover {
				color: $main-color;
			}

		}

		
		
	}


	.main-article--details__image-source {
		color: #fff;

		a {
			font-size: 0.8em;
			font-weight: $font-semibold;
			color: $main-color;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: darken($main-color, 20%);
			}
		}

		i {
			color: #fff;
		}
	}

	.language-switcher {
		display: flex;
		justify-content: space-between;
		width: 60px;
		margin-left: 10px;
		margin-bottom: 1rem;
		position: relative;
		right: 0;
	}

		.language-switcher--item {
			opacity: 0.4;
			width: 24px;
			height: 12px;
			background-image: url('../images/flag-sprite.jpg');
			background-repeat: no-repeat;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&.active {
				opacity: 1;
			}

			&:hover {
				opacity: 1;
			}
		}

		.language-switcher--item.english {
			background-position: 0 0;
		}

		.language-switcher--item.dutch {
			background-position: 100% 0;
		}





.main-article--content {
	
}

	.main-article--heading {
		font-family: $font-family-raleway;
		font-weight: $font-semibold;
		font-size: 2.1em;
		color: $accent-color;
	}

	.main-article--paragraph {
		font-family: $font-family-domine;
		font-size: 1.1em;
		font-kerning: normal;
		line-height: 1.4em;
		letter-spacing: 0.8px;
		// color: $accent-color;
		color: #000;
		margin-bottom: 30px;
	}




.share-buttons {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	font-size: 1.5em;
}

	.share-icon {
		color: $accent-color;
		margin-right: 20px;
	}

	.social-button {
		display: block;
		padding: 2px 45px;
		margin-right: 10px;
		transition: all 0.3s ease-in-out;

		&:first-child {
			margin-left: 20px;
		}

	}

		.social-button--facebook {
			color: #3b5998;
			border: 3px solid  #3b5998;
			background-color:  transparent;
			
			&:hover, &:active, &:focus {
				color: #fff;
				background-color: #3b5998;
			}

		}

		.social-button--twitter {
			color: #00aced;
			border: 3px solid  #00aced;
			background-color:  transparent;
			
			&:hover, &:active, &:focus {
				color: #fff;
				background-color: #00aced;
			}
		}

		.social-button--googleplus {
			color: #dd4b39;
			border: 3px solid  #dd4b39;
			background-color:  transparent;
			
			&:hover, &:active, &:focus {
				color: #fff;
				background-color: #dd4b39;
			}
		}

		.social-button--linkedin {
			olor: #007bb5;
			border: 3px solid  #007bb5;
			background-color:  transparent;
			
			&:hover, &:active, &:focus {
				color: #fff;
				background-color: #007bb5;
			}
		}




