// Image widget

.widget--image {
	position: relative;
	margin: 0 0 30px;
	padding: 0;
	background-color: rgba($accent-color, 0.7);
}

	.widget--image__picture {
		width: 100%;
	}

	.widget--image__caption {
		padding: 15px 10px;
		color: #fff;
		font-family: $font-family-domine;
		font-style: italic;
		font-size: 1em;
		letter-spacing: 2px;
		line-height: 1.2em;
	}




// Embed video widget

.widget--video {
    position: relative;
    width: 85%;
    height: 0;
    padding-bottom: 47.8%;
    display: block;
    margin-bottom: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}




// Related deals and calendar widget (material design cards)

.widget--deal__wrapper,
.widget--calendar__wrapper {
	position: relative;
	display: inline-flex;
	align-items: center;
	margin-bottom: 30px;
	padding: 10px 15px;
	background-color: #fff;	
	transition: all 0.2s ease-in-out;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);

	&:hover {
		box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.4);

		.widget--deal__title {
			color: $main-color;
		}

		.widget--calendar__title {
			color: $main-color;
		}
	}
}

	.widget--deal__image,
	.widget--calendar__image {
		max-width: 70px;
		max-height: 70px;
		margin-right: 20px;
		transition: all 0.2s ease-in-out;
	}

	.widget--deal__text {

	}

		.widget--deal__title,
		.widget--calendar__title {
			font-size: 1.6em;
			font-family: $font-family-raleway;
			color: $accent-color;
			margin-bottom: 0;
			transition: all 0.2s ease-in-out;
		}

		.widget--deal__title {
			margin-top: -15px;
		}

		.widget--calendar__date {
			font-size: 1em;
		}




// Review widget

.widget--review {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
}

	.widget--review__bg-image {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.widget--review__overlay {
		position: relative;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.7);
	}

		.widget--review__title {
			color: #fff;
			font-family: $font-family-raleway;
			font-size: 2em;
			font-weight: $font-semibold;
			padding-bottom: 10px;
			border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
		}

		.widget--review__text {
			font-family: $font-family-domine;
			font-size: 1em;
			color: #fff;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
		}

		.widget--review__lists {
			font-family: $font-family-domine;
			display: flex;
			justify-content: space-around;
			border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
		}

			.widget--review__pro-list {
				list-style: none;
				margin-left: 40px;
				// margin-right: 200px;
				padding-left: 10px;
				border-left: 2px dashed rgba(255, 255, 255, 0.2);
			}

				.widget--review__pro-list--item {
					color: #fff;

				}

					.widget--review__pro-list--title {
						position: absolute;
						color: #fff;
						margin-left: -60px;
					}

			.widget--review__con-list {
				list-style: none;
				padding-left: 10px;
				border-left: 2px dashed rgba(255, 255, 255, 0.2);
			}

				.widget--review__con-list--item {
					color: #fff;
				}

					.widget--review__con-list--title {
						position: absolute;
						color: #fff;
						margin-left: -60px;
					}

		.widget--review__rating {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

			.widget--review__rating--number {
				color: #fff;
				font-family: $font-family-domine;
				font-size: 3.5em;
				font-weight: $font-bold;
			}

			.widget--review__rating--stars {
				position: relative;
				display: block;
				font-size: 3em;
				font-family: "FontAwesome";
				letter-spacing: 5px;
				// margin-right: -10px;
				overflow: hidden;

				&:before {
					display: block;
					content: '\f005\f005\f005\f005\f005';
					color: #fff;
				}
			}

				.widget--review__rating--stars-inner {
					width: 100%;
					overflow: hidden;
					position: absolute;
					left: 0px;
					top: 0px;
					display: block;
					z-index: 5;

					&:before {
						display: block;
						content: '\f005\f005\f005\f005\f005';
						color: $main-color;
					}
				}








// Related entries widget

.related-entries {
	display: block;
	width: 100%;
	margin-top: 50px;
}

	.related-entries--title {
		font-family: $font-family-raleway;
		font-weight: $font-semibold;
		font-size: 2em;
	}

	.widget--related-entries__item {
		position: relative;
		margin-bottom: 30px;
		background-color: #fff;
		transition: all 0.2s ease-in-out;
		box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);

		&:hover {
			box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.4);

			.widget--related-entries__title {
				color: $main-color;
			}
		}
	}

		.widget--related-entries__image {
			width: 100%;
		}

		.widget--related-entries__text {
			padding: 10px;
		}

			.widget--related-entries__title {
				color: $accent-color;
				font-size: 1.5em;
				font-family: $font-family-raleway;
				margin-bottom: 0;
				transition: all 0.2s ease-in-out;
			}

			.widget--related-entries__date {
				font-size: 0.8em;
			}



.widget--gallery {
	margin-bottom: 30px;
	padding: 5px 20px 10px;
	box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
}

	.widget--gallery__title {
		font-size: 1.9em;
		margin-bottom: 20px;

		a {
			color: $accent-color;
			transition: all 0.3s ease-in-out;

			&:hover, &:focus, &:active {
				color: darken($main-color, 10%);

				span {
					color: darken($main-color, 5%);
				}
			}
		}

		span {
			font-size: 1.2em;
			font-weight: $font-semibold;
			color: $main-color;
			position: relative;
			top: 2px;
			text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
			transition: all 0.3s ease-in-out;
		}
	}

	.widget--gallery__list {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
	}

		.widget--gallery__item {
			margin-right: 10px;
			height: 100px;
			margin-bottom: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
			transition: all 0.2s ease-in-out;

			&:hover {
				box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
			}
		}

		.widget--gallery__item--more {
			width: 100px;
			height: 100px;
			align-self: stretch;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 5px;
			font-family: $font-family-domine;
			font-weight: $font-bold;
			font-size: 1.1em;
			letter-spacing: 1.5px;
			text-align: center;
			background-color: rgba($accent-color, 0.6);
			color: #fff;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
			transition: all 0.2s ease-in-out;

			&:hover {
				box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
			}
		}













@media only screen and (max-width: 800px) {

	.widget--gallery {
		padding: 5px 10px;
	}

		.widget--gallery__title {
			font-size: 1.2em;
			margin-bottom: 5px;

			span {
				top: 0;
			}
		}

		.widget--gallery__item {
			margin-right: 5px;
			height: 60px;
		}

		.widget--gallery__item--more {
			width: 60px;
			height: 60px;
			font-size: 0.6em;
		}




	.sidebar--box__gallery {

		.widget--gallery {
			padding: 3px 5px;
		}

		.widget--gallery__title {
			font-size: 1em;
		}

			.widget--gallery__item {
				height: 40px;
				margin-right: 3px;
			}

			.widget--gallery__item--more {
				width: 40px;
				height: 40px;
				font-size: 0.8em;
			}

	}


	.widget--gallery-video {

		i {
			left: 20%;
			top: 25%;
		}

		.widget--gallery__item {
			width: 60px;
			height: 60px;
		}
		
	}


	.widget--gallery-video__big {

		i {
			font-size: 1.3em;
			padding: 5px 5px 5px 10px;
			left: 30%;
			top: 30%;
		}

		.widget--gallery__item {
			width: 100px;
			height: 100px;
		}

	}


}



@media only screen and (max-width: 400px) {

	.widget--gallery {
		padding: 5px;
	}

		.widget--gallery__title {
			font-size: 1em;
			margin-bottom: 5px;
			line-height: 1;
		}

		.widget--gallery__item {
			margin-right: 5px;
			height: 50px;
		}

		.widget--gallery__item--more {
			width: 50px;
			height: 50px;
			font-size: 0.45em;
		}

}
