.banner {
	position: relative;
	display: block;
}

	.banner--main {
		margin: 0 auto 50px;
	}

	.banner--sidebar {
		// width: 300px;
		// height: 300px;
		margin: 0 auto 50px;
	}

	.banner--sidebar__long {
		// height: 600px;
	}