.banner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 50px;
}

	.banner--main {
		max-width: 95%;
		// margin: 0 auto 50px;
	}

	.banner--sidebar {
		display: flex;
		justify-content: center;
		align-items: center;
	}
