.banner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

	.banner--main {
		// margin: 0 auto 50px;
	}

	.banner--sidebar {
		// margin: 0 auto 50px;
	}