.deals--articles-list {
	margin-top: 30px;
	margin-left: 0;

	.row {
		max-width: 100%;
	}
}



.deals--articles--list__item {
	width: 100%;
	// margin-right: 50px;
	margin-bottom: 50px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.7);

	.articles--list__thumbnail {
		position: relative;
		margin: 0 auto;
		max-width: 90%;
	}

		.articles--list__image {
			width: 100%;
		}
}

	.deals--articles--list__text {
		width: 90%;
		margin: 15px auto;
	}

		.deals--articles--list__title {
			font-size: 1.8em;
			margin-bottom: 10px;

			a {
				color: $accent-color;
				transition: all 0.3s ease-in-out;
				
				&:hover {
					color: $main-color;
				}
			}
				
		}

		.deals--articles--list__info {
			display: flex;
			align-items: center;
			font-size: 0.8em;
			margin-bottom: 10px;

			.category a {
				color: #000;

				&:hover {
					color: $main-color;
				}
			}
		}

		.deals--articles--list__description {
			font-size: 0.8em;
		}
		

		.deals--list__button {
			display: inline-block;
			font-family: $font-family-domine;
			font-size: 1.1em;
			line-height: 1.3;
			letter-spacing: 0.7px;
			color: #fff;
			background-color: $accent-color;
			padding: 10px 15px;
			border-radius: 2px;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
			box-shadow: 0 5px darken($accent-color, 10%);
			transition: all 0.15s ease-in-out;

			&:hover {
				color: #fff;
				background-color: darken($accent-color, 5%);
				box-shadow: 0 5px darken($accent-color, 15%);
			}

			&:active {
				color: #fff;
				box-shadow: 0 2px darken($accent-color, 15%);
				transform: translateY(3px);
			}

			&:focus {
				color: #fff;
			}
		}

.deals--articles-list__mobile {
	display: none;
}



.deals--expired {

	position: relative;

	.articles--list__thumbnail {
		position: relative;
		background-color: #fff;

		&:hover {
			.articles--list__image {
				opacity: 0.5;

			}

			.image-button--wrapper {
				opacity: 0;
			}
		}

		.deals--expired-label {
			position: absolute;
			content: "";
			top: -10%;
			left: 0;
			z-index: 98;
			width: 130%;
			font-weight: $font-bold;
			font-size: 2em;
			text-align: center;
			padding: 5px 0;
			letter-spacing: 5px;
			color: #fff;
			background-color: $accent-color;
			transform-origin: 0 0;
			transform: rotate(33deg);
		}

	}

	.articles--list__image {
		opacity: 0.5;
	}

	.deals--articles--list__text {
		color: rgba(0, 0, 0, 0.4);
	}

	.deals--articles--list__title {
		a {
			color: rgba(0, 0, 0, 0.4);
		}
		
	}

	.deals--articles--list__info {
		.category {
			a {
				color: rgba(0, 0, 0, 0.4);
			}
			
		}
	}


	.deals--list__button {
		background-color: rgba($accent-color, 0.4);
		box-shadow: 0 5px darken(rgba($accent-color, 0.4), 10%);
	}


}

