.premium__hero {
	position: relative;
}

	

	.premium-image {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}

	.premium__text {
		position: absolute;
		bottom: 0;
		padding-bottom: 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		// border: 1px solid green;
		height: 100%;
		width: 100%;

		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 73%, rgba(0,0,0,0.3) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 73%,rgba(0,0,0,0.3) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 73%,rgba(0,0,0,0.3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );


	}

		.premium--category-badge {
			position: relative;
			color: #fff;
			align-self: flex-start;
			left: 20%;
			font-size: 1.1em;
			font-weight: $font-bold;
			letter-spacing: 1px;
			color: #fff;
			text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
			background-color: $main-color;
			border-radius: 5px;
			padding: 2px 8px;
			margin-bottom: 5px;
		}

		.premium__title {
			font-size: 4em;
			line-height: 1.2;
			color: #fff;
			font-weight: $font-bold;
			width: 60%;
			text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
		}

			.premium__title-description {
				font-size: 0.4em;
				font-weight: $font-light;
				margin-top: 10px;
			}

	.language-switcher--premium {
		position: absolute;
		bottom: 0;
		left: 30px;
	}

	.premium__image-source {
		position: absolute;
		bottom: 0;
		right: 30px;
		color: #fff;

		a {
			font-size: 1em;
			font-weight: $font-semibold;
			color: #fff;
			padding: 5px;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 0.2);
			text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $main-color;
			}
		}
	}


.premium__info {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	margin-top: 20px;
}

	.premium__info--avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-right: 20px;
	}

	.premium__info--details {
		flex: 1;
	}

		.premium__info--top {
			border-bottom: 2px dashed rgba($accent-color, 0.6);
			padding-bottom: 5px;
		}

			.premium__info--author {

				span {
					color: $main-color;
					font-weight: $font-semibold;
				}
			}

		.premium__info--bottom {
			padding-top: 7px;
		}

			.premium__info--date {
				font-size: 0.85em;
			}