.sidebar {
	position: relative;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0 0 100px;
}



	.sidebar--box {
		position: relative;
		padding: 0;
		width: 90%;
		color: $text-color-black;
		border: 1px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 50px;
	}

		.sidebar--box__top {
			background-color: $accent-color;
			width: 100%;
			text-align: center;
			padding: 15px 20px 10px;
			margin-bottom: 30px;
		}

			.sidebar--box__title {
				color: #fff;
				font-family: $font-family-raleway;
				font-weight: $font-semibold;
				font-size: 1.2em;
				text-align: left;
			}


		.sidebar--box__content {
			padding: 0 20px;
		}

			.sidebar--box__articles-list {
				list-style: none;
			}

				.sidebar--box__list--item {
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px dashed rgba($accent-color, 0.7);
					display: flex;
					align-items: flex-start;

					&:last-child {
						border-bottom: none;
					}
					
				}

					.sidebar--box__image {
						max-width: 70px;
					}

					.sidebar--box__text {
						margin-left: 15px;
						width: 70%;

						a {
							display: block;
							color: $text-color-black;
							margin-bottom: 10px;
							font-size: 1em;
							line-height: 1;
							transition: all 0.3s ease-in-out;

							&:hover {
								color: $main-color;
							}
						}
					}

						.sidebar--box__details {
							display: flex;

							.date, .category {
								font-size: 0.7em;

								span {
									margin-left: 5px;
								}
							}

							.category {
								margin-left: 5px;
							}
						}



	.sidebar--box__gallery {

		.sidebar--box__content {
			padding: 0 5px;
		}

		.widget--gallery {
			box-shadow: none;
			padding: 5px 10px 20px;
			margin-bottom: 15px;
			border-bottom: 1px dashed rgba($accent-color, 0.7);

			&:last-child {
				border-bottom: none;
			}
		}

		.widget--gallery__title {
			margin-bottom: 10px;

			a {
				display: block;
				color: $text-color-black;
				font-size: 0.6em;
				line-height: 1;
				transition: all 0.3s ease-in-out;

				&:hover {
					color: $main-color;
				}
			}
		}

		.widget--gallery__description {
			margin-top: 0;
			font-size: 0.8em;
		}

		.widget--gallery__info {
			display: flex;
			margin-top: 10px;
		}
			
			.widget--gallery__photos {
				margin-right: 15px;
			}

			.widget--gallery__photos,
			.widget--gallery__button {
				dispplay: flex;
				

				a {
					font-size: 0.9em;
					color: $accent-color;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: $main-color;
					}

					i {

					}
				}
			}



		.widget--gallery__item {
			height: 50px;
			margin-right: 3px;
		}

		.widget--gallery__item--more {
			width: 50px;
			height: 50px;
			font-size: 1em;
		}

	}


		.widget--gallery-video {

			.widget--gallery__list {
				position: relative;
			}

			i {
				position: absolute;
				left: 25%;
				top: 30%;
				color: rgba(#fff, 0.7);
				font-size: 1em;
				padding: 5px 5px 5px 10px;
				border-radius: 50%;
				border: 3px solid rgba(255, 255, 255, 0.7);
				background-color: rgba(0, 0, 0, 0.2);
			}

			.widget--gallery__item {
				width: 80px;
				height: 80px;
			}

		}

		.widget--gallery-video__big {

			i {
				font-size: 1.7em;
				padding: 10px 10px 10px 15px;
				left: 30%;
				top: 30%;
			}

			.widget--gallery__item {
				width: 140px;
				height: 140px;
			}

		}








