/// Various page styles for default look

::selection {
  background: $main-color;
  color: #fff;
}

::-moz-selection {
  background: $main-color; 
  color: #fff; 
}



body {
	background-color: #F0F0F0;
	padding-top: 135px;
}


.wrapper {
	width: 85%;
	background-color: #fffefe;
	box-shadow: 0 15px 40px 3px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

	.wrapper--main {
		margin: 0 auto;
		padding: 30px 25px 0;
	}

	.wrapper--nopadding {
		margin: 0 auto;
		padding: 0;
		// height: 1460px;
		background-color: #fffefe;
	}

	.row {
		margin: 0;
		margin-right: 0;
	}




.section-title {
	font-family: $font-family-raleway;
	font-weight: 600;
	font-size: 2.5em;
	margin-bottom: 30px;
	color: lighten($accent-color, 5%);
}


section {
	margin-bottom: 50px;

	&.articles {
		margin-bottom: 0;
	}

	&.two-sides-content {
		margin-bottom: 0;
	}

	&.reports {
		margin-bottom: 100px;
	}
}


.two-sides-content {
	padding: 0;
}

.two-sides-content > .row {
	max-width: 100%;
}

	.main-content {
		// padding: 10px 20px;
	}







/*----------  Temporary style for work in progress pages  ----------*/


.work-in-progress-message {
	font-family: $font-family-domine; 
	font-size: 2.5em;
	font-weight: $font-bold;
	color: $accent-color;
	text-align: center;
	padding: 150px 100px;

	i {
		margin-right: 10px;
	}
	
}


@media only screen and (max-width: 1100px) {
	.work-in-progress-message {
		font-size: 2em;
		padding: 100px 70px;
	}
}

@media only screen and (max-width: 820px) {
	.work-in-progress-message {
		font-size: 1.5em;
		padding: 60px 30px;
	}
}