

@media only screen and (max-width: 1350px) {

	.nav-item {
		font-size: 1.1em;
	}

	.nav-item:not(.nav-item--logo) a {
		padding: 10px 20px;
	}

	.logo {
		max-width: 85px;
	}


	.headroom--not-top {
		.nav-item {
			font-size: 1em;
		}

		.nav-item:not(.nav-item--logo) a {
			padding: 7px 20px;
		}

		.logo {
			max-width: 60px;
		}

		.has-dropdown {

			i {
				top: 33%;
			}

		}

	}


	.deals--articles--list__text {
		// width: 90%;
	}



	/*----------  Article page  ----------*/
	
	.main-article--title {
		font-size: 1.8em;
		width: 90%;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 2px dashed rgba(255, 255, 255, 0.15);
	}

	.activity--title {
		border-bottom: none;
		padding-bottom: 0;
	}


	.share-buttons--activity {
		.social-button {
			display: block;
			padding: 2px 35px;
			margin-right: 10px;
			transition: all 0.3s ease-in-out;

			&:first-child {
				margin-left: 20px;
			}

		}
	}



	.premium__title {
		// width: 80%;
	}





}  /// END  ---  1350px






@media only screen and (max-width: 1200px) {

	.wrapper {
		width: 95%;
	}

	.wrapper--fullwidth {
		width: 100%;
	}

	.wrapper--main {
		padding: 30px 10px 0;
	}


	// NAVIGATION

	.nav-item {
		font-size: 1em;
	}

	.nav-item:not(.nav-item--logo) a {
		padding: 10px 10px;
	}

	.logo {
		max-width: 70px;
	}

	.has-dropdown {

			i {
				right: 5px;
				top: 40%;
				font-size: 0.7em;
			}

	}

	.search-box {

		input {
			padding: 5px 5px 5px 20px;

			&:focus {
				padding: 5px 5px 5px 25px;
			}
		}
		
		&:before {
			font-size: 1.2em;
			line-height: 1.6;
			padding: 0 4px;
		}
		
	}

	// .icon {
	// 	font-size: 0.9em;
	// 	left: 20px;
	// }


	.headroom--not-top {

		.nav-item:not(.nav-item--logo) a {
			padding: 5px 7px;
		}

		.search-box {

			input {
				padding: 5px 5px 5px 20px;

				&:focus {
					padding: 5px 5px 5px 25px;
				}
			}

			&:before {
				font-size: 1.15em;
				line-height: 1.6;
				padding: 0 4px;
			}
			
		}

		.logo {
			max-width: 55px;
		}

		.has-dropdown {

			i {
				right: 3px;
				top: 36%;
				font-size: 0.7em;
			}
		}
	}



	// SIDEBAR

	.sidebar--box__details {

		.date, .category {
			font-size: 0.6em;

			span {
				margin-left: 3px;
			}
		}

		.category {
			margin-left: 3px;
		}
	}






	// HOVER EFFECT REMOVE 


	.hover-effect {

		&:hover {

			.article-thumbnail {
				opacity: 0.95;
				-webkit-transform: scale3d(1.2,1.2,1);
				transform: scale3d(1.2,1.2,1);
			}

			figcaption::before {
				-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-125%,0);
				transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-125%,0);
			}

			.article--text {
				opacity: 0;
			}

			.category {
				z-index: 98;
			}


		}

	}


	.articles--list__thumbnail {

		&:hover {

			.articles--list__image {
				opacity: 0.95;

			}

			.image-button--wrapper {
				opacity: 0;
			}
		}
	}


	.deals--expired {

		.articles--list__thumbnail {

			.deals--expired-label {
				font-size: 1.8em;
				transform: rotate(32deg);
			}
		}
	}



	.premium__wrapper {
		padding: 40px 100px 0;

		// .widget--image,
		// .widget--gallery {
		// 	max-width: 80%;
		// }

		.widget--review {
			max-width: 90%;
		}
	}


	.premium__title {
		font-size: 3em;
		line-height: 1.1;
		color: #fff;
	}

	.premium--category-badge {
		font-size: 1em;
	}


	

	// FOOTER 

	.main-footer {
		width: calc(100% + 20px);
		margin: 0 auto 0 -10px;
	}




} /// END  ---  1200px





@media only screen and (max-width: 1024px) {
	// .sidebar {
	// 	color: #ffffff;
	// }
} // END  ---  1024px (this is the Foundation medium media query)




@media only screen and (max-width: 950px) {

	.wrapper {
		width: 100%;
	}

	.wrapper--main {
		padding: 30px 15px 0;
	}



	// NAVIGATION
	
	.nav-item {
		font-size: 0.9em;
	}

	.nav-item:not(.nav-item--logo) a {
		padding: 10px 5px;
	}

	.logo {
		max-width: 60px;
	}

	.has-dropdown {

			i {
				right: 3px;
				top: 42%;
				font-size: 0.5em;
			}

	}


	.headroom--not-top {

		.nav-item {
			font-size: 0.85em;
		}

		.nav-item:not(.nav-item--logo) a {
			padding: 5px 5px;
		}

		.search-box {

			input {
				padding: 5px 5px 5px 20px;

				&:focus {
					padding: 5px 5px 5px 25px;
				}
			}


			&:before {
				padding: 0 5px;
			}
			
		}

		.logo {
			max-width: 50px;
		}

		.has-dropdown {

			i {
				top: 40%;
				font-size: 0.44em;
			}

		}

	}



	// SLIDERS AND TEXT

	.section-title {
		font-size: 2.3em;
	}

	.article--title {
		font-size: 1.2em;
	}


	.articles--main {

		.article--title {
			font-size: 1.6em;
		}
	}




	.reports {
		 
		.owl-theme .owl-controls .owl-buttons .owl-prev {
			left: 1px;
			top: 40%;
			padding: 4px 12px; 
			font-size: 1em;
		}
		 
		.owl-theme .owl-controls .owl-buttons .owl-next {
			right: 1px;
			top: 40%;
			padding: 4px 12px; 
			font-size: 1em;
		}

	}


	.reports--carousel {

		padding: 40px 50px 10px 50px;

		.reports--item {
			margin-right: 10px;
		}

			.article--title {
				font-size: 1.1em;
			}

	}


	.page-numbers--item {
		font-size: 1.5em;

		a {
			padding: 0 15px;
		}
	}




	// Badges and additional items 

	.article--badge {
		font-size: 0.6em;
		letter-spacing: 0.7px;
	}



	// FOOTER 

	.main-footer {
		width: calc(100% + 30px);
		margin: 0 auto 0 -15px;
	}


	.deals--expired {

		.articles--list__thumbnail {

			.deals--expired-label {
				top: -14%;
				font-size: 1.4em;
				transform: rotate(34deg);
			}
		}
	}


	.premium__title {
		font-size: 2em;
		line-height: 1;
		width: 70%;
	}

	.premium--category-badge {
		font-size: 0.8em;
		padding: 2px 4px;
		left: 15%;
	}

	.premium__image-source {
		font-size: 0.8em;
	}



}  /// END  ---  950px





@media only screen and (max-width: 800px) {

	.container {
		display: none;
	}

	.nav-section--logo {
		display: none;
	}

	.nav--mobile {
		display: block;
	}

	.deals--articles-list__desktop {
		display: none;
	}

	.deals--articles-list__mobile {
		display: block;
	}


	.section-title {
		font-size: 2em;
	}

	.article--title {
		font-size: 1em;
	}


	.articles--main {

		.article--title {
			font-size: 0.9em;
		}
	}



	/*----------  Article page  ----------*/


	.main-article--overlay {
		width: 100%;
	}

		.main-article--title {
			font-size: 1.5em;
			width: 100%;
		}

	.widget--review__lists {
		justify-content: space-between;
	}

	
	.language-switch {
		margin-top: 10px;
		margin-bottom: 30px;

		label {
			font-size: 0.7rem;
		}
	}

		.switch-paddle {
			width: 4.4rem;


			&:after {
				width: 2rem;
				height: 1.3em;
				top: 25%;
			}
		}


	.switch-paddle::after {
		background-repeat: no-repeat;
		background-size: 200%;
	}


	/*----------  ABOUT PAGE  ----------*/
	
	.contributors-info {
		font-size: 0.9em;
		line-height: 1.3em;
	}

	.contact-title {
		font-size: 1.8em;
	}

	.contact-email {
		font-size: 0.8em;
	}

	.contact-form {
		margin-top: 30px;
	}



	/*----------  ACTIVITIES PAGE  ----------*/


	.listing {
		margin-top: 20px;
		padding: 10px 10px 30px;
	}

	.listing-item--date {
		padding: 5px 5px;
		margin-right: 10px;
		padding-bottom: 0;
		
	}

		.listing-item--date__month {
			font-size: 0.6em;
			line-height: 0.8;
		}

		.listing-item--date__day {
			font-size: 1.2em;
			line-height: 1.8;
		}

		.listing-item--date__day-of-week {
			padding-bottom: 5px;
			border-bottom: 4px solid $main-color;
		}

	
	.listing-item--thumb {
		max-width: 70px;
		max-height: 70px;
		margin-right: 10px;
	}

	.listing-item--title {
		margin-right: 30px;
		font-size: 1.2em;
		line-height: 1;
	}


	.tags {

		i {
			font-size: 0.9em;
		}

	}

		.tags-list--item {
			position: relative;
			margin-right: 5px;

			a {
				font-size: 0.9em;
			}

		}

	.listing-item--buttons {
		height: 70px;
	}

		.listing-item--button__ticket,
		.listing-item--button__deal {
			font-size: 0.8em;
			line-height: 1.4;
			padding: 4px 6px 2px;
			border-radius: 3px;
			box-shadow: 0 5px darken($main-color, 10%);

			&:hover {
				background-color: darken($main-color, 5%);
				box-shadow: 0 5px darken($main-color, 15%);
			}

			&:active {
				box-shadow: 0 2px darken($main-color, 15%);
				transform: translateY(3px);
			}
		}



	/*----------  Gallery item pag  ----------*/

	.gallery-title {
		font-size: 2.5em;
	}
	
	.gallery-image {
		.owl-theme .owl-controls .owl-buttons .owl-prev,
	    .owl-theme .owl-controls .owl-buttons .owl-next {
	        top: 32%;
	        padding: 20px 14px;
	        font-size: 2.2em;
	        border-radius: 5px;
    	}

    	.owl-theme .owl-controls .owl-buttons .owl-prev {
	        left: -10px;
	    }
	     
	    .owl-theme .owl-controls .owl-buttons .owl-next {
	        right: -10px;
	    }
	}


	.gallery-image--slider {
		.item {

	        img {
	            max-width: 82%;
	            
	        }
	    }
	}



	// Additional items 

	.tabs-style-tzoid nav {
		padding: 0 0.2em;
	}

	.tabs-style-tzoid nav ul li a {
		padding: 0 1.3em 0 0.3em;
		font-size: 0.8em;
		line-height: 2.5;
	}


	.deals--expired {

		.articles--list__thumbnail {

			.deals--expired-label {
				top: -10%;
				font-size: 1.4em;
				padding: 5px 0;
				letter-spacing: 5px;
				transform-origin: 0 0;
				transform: rotate(33deg);
			}
		}
	}


	// INFO Pages

	.crumb-info {
		flex-wrap: wrap;
	}

	.crumb-item { 
		a {
			font-size: 0.8em;
		}

		&:after {
			top: 2px;
			left: calc(100% + 2px);
		}
	}

		.crumb-title {
			flex-basis: 100%;
		}

		.crumb-description {
			flex-basis: 90%;
		}


	.info-cities--title {
		font-size: 1.2em;
	}

	.info-cities--description {
		font-size: 0.8em;
		line-height: 1.3;
	}

	.info-floating-button {
		top: -20px;
	}

		.info-button__image {
			width: 35px;
			height: 35px;
		}


	.premium__wrapper {
		padding: 40px 50px 0;

		.widget--image,
		.widget--gallery {
			max-width: 90%;
		}

		.widget--review {
			max-width: 100%;
		}
	}



}  /// END  ---  800px


@media only screen and (max-width: 635px) {

	.deals--articles--list__text--mobile {
		width: 85%;
	}



	.articles--list__thumbnail {
		flex-basis: 60%;

	}

	.articles--list__text {
		flex-basis: 40%;
	}

		.articles--list__title a {
			font-size: 1.3em;
		}

		.articles--list__info {
			margin-bottom: 10px;
			font-size: 0.7em;
		}

		.articles--list__description {
			font-size: 0.8em;
		}


		.articles--list__button {
			font-size: 0.9em;
			padding: 7px 12px;
			border-radius: 2px;
		}


		.premium__title {
			font-size: 1.2em;
			line-height: 1;
			width: 85%;
			margin-bottom: 0;
		}

		.premium--category-badge {
			font-size: 0.6em;
			padding: 2px 4px;
			left: 8%;
			border-radius: 2px;
		}

		.premium__image-source {
			font-size: 0.5em;
		}



		.main-footer--main-content {
			padding: 50px 0 20px;
		}


		.main-footer--links__item {

			a {
				font-size: 0.8em;
				padding: 6px 6px;
			}
		}


		.main-footer--text {
			color: #fff;
			font-size: 1.1em;
			font-weight: $font-bold;
			letter-spacing: 1px;
			margin-bottom: 5px;
		}


		.copyright {
			font-size: 0.8em;
			color: rgba(#fff, 0.7);
		}

	
		.back-to-top {
			right: 10px;
			top: 10px;

			a {
			 	font-size: 1.1em;
			 	color: #fff;
			 	display: block;
			 	padding: 4px 10px;
			 	text-decoration: none;
			}

			&:hover {
				background-color: $main-color;
			}


		}



	/*----------  Article page  ----------*/

	.main-article--overlay {
		padding: 10px 5px 0;
	}

		.main-article--title {
			font-size: 1.2em;
			margin-bottom: 5px;
			padding-bottom: 5px;
		}


	.main-article--details__date {

		margin-right: 10px;
		margin-bottom: 5px;

		i {
			font-size: 0.5em;
		}


		span {
			font-size: 0.5em;
		}
	}

	.main-article--details__category {

		margin-right: 10px;
		margin-bottom: 5px;

		a {

			i {
				font-size: 0.5em;

			}


			span {
				font-size: 0.5em;
			}
		}
		
	}

	.main-article--details__image-source {
		margin-bottom: 5px;

		a {
			font-size: 0.5em;
		}
	}

	.main-article--details__category a i {
		vertical-align: baseline;
	}

	.language-switcher {
		margin-bottom: 0;
	}

	.language-switcher--premium {
		margin-bottom: 1rem;
	}


	.main-article--heading {
		font-size: 1.6em;
		color: $accent-color;
	}

	.main-article--paragraph {
		font-size: 0.9em;
		line-height: 1.3em;
		letter-spacing: 0.8px;
	}

	.widget--blockquote {
		font-size: 1em;
		line-height: 1.3em;
	}

	.widget--deal__image,
	.widget--calendar__image {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}


	.widget--image__caption {
		padding: 10px 5px;
		font-family: $font-family-domine;
		font-size: 0.7em;
		letter-spacing: 1px;
		line-height: 1.2em;
	}


	.share-buttons {
		font-size: 1.2em;
	}

		.share-icon {
			margin-right: 10px;
		}

		.social-button {
			display: block;
			padding: 2px 25px;
			margin-right: 5px;

			&:first-child {
				margin-left: 10px;
			}

		}


	.widget--review__title {
		font-size: 1.6em;
	}
	
	.widget--review__text {
		font-size: 0.8em;
	}

	.widget--review__lists {
		font-size: 0.9em;
		flex-wrap: wrap;
		justify-content: center;
	}

		.widget--review__pro-list,
		.widget--review__con-list {
			flex-basis: 80%;
			margin-bottom: 30px;
		}

		.widget--review__con-list {
			margin-left: 40px;
		}

	.widget--review__rating--number {
		font-size: 2.5em;
	}

	.widget--review__rating--stars {
		font-size: 2em;
	}


	/*----------  ACTIVITIES PAGE  ----------*/
	

	.load-more-button {
		margin-top: 30px;
		font-size: 1.1em;
		padding: 12px 15px;
	}

	.listing-item {
		max-width: 90%;
		margin-bottom: 20px;
	}
	
	.listing-item--thumb {
		max-width: 50px;
		max-height: 50px;
	}


	.listing-item--title {
		margin-right: 10px;
		font-size: 0.9em;
	}

	.tags {

		i {
			font-size: 0.8em;
		}

	}

		.tags-list--item {

			a {
				font-size: 0.8em;
			}

		}


	.listing-item--info {
		flex-wrap: wrap;
	}

	.listing-item--buttons {
		flex-direction: row;
		margin-left: 10px;
		height: auto;
		margin-bottom: 10px;
	}

		.listing-item--button__ticket {
			margin-right: 10px;
		}


/*----------  ACTIVITIES DETAIL PAGE  ----------*/

	.share-buttons--activity {
		font-size: 1em;

		.social-button {
			padding: 2px 25px;
			margin-right: 5px;

			&:first-child {
				margin-left: 10px;
			}

		}
	}


	.activity--info__title {
		font-size: 1.5em;
	}

	
	.activity--info__type--title {
		font-size: 1.2em;
	}


	.activity--info__line {
		font-size: 1em;
		margin-bottom: 5px;
		padding-bottom: 5px;

		i {
			font-size: 1.3em;
			width: 20px;
		}

		span {
			margin-left: 5px;
		}
	}


	.deals--expired {

		.articles--list__thumbnail {

			.deals--expired-label {
				top: -6%;
				font-size: 1.4em;
				transform: rotate(34deg);
			}
		}
	}




} /// END --- 635px




@media only screen and (max-width: 550px) {

	.deals--expired {

		.articles--list__thumbnail {

			.deals--expired-label {
				top: -6%;
				font-size: 1.4em;
				padding: 5px 0;
				letter-spacing: 5px;
				transform-origin: 0 0;
				transform: rotate(33deg);
			}
		}
	}

} /// END --- 550px





@media only screen and (max-width: 400px) {

	.nav--mobile__search {
		font-size: 0.75em;


		// .icon {
		// 	left: 27px;
		// }
	}


	.nav--mobile__search-box {
		&:before {
			line-height: 2.2;
			padding: 0 14px;
		}

		input {
			&:focus {
				width: 65%;
			}
		}
	}

	


	.deals--articles--list__text--mobile {
		width: 90%;
	}


	.articles--list__item {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 30px;

	}

		.articles--list__thumbnail {
			flex-basis: 100%;
			margin-right: 0;
			margin-bottom: 30px;
		}

		.articles--list__text {
			flex-basis: 90%;
		}

		.tabs {
			.articles--list__text {
				flex-basis: 80%;
			}
		}


	
	.page-numbers--item {
		font-size: 1.1em;

		a {
			padding: 0 8px;
		}
	}


	/*----------  Article page  ----------*/
	
	.main-article--title {
		font-size: 1em;
		margin-bottom: 0;
	}

	.main-article--details__date {

		i {
			font-size: 0.4em;
		}


		span {
			font-size: 0.4em;
		}
	}

	.main-article--details__category {

		a {

			i {
				font-size: 0.4em;
				vertical-align: baseline;
			}


			span {
				font-size: 0.4em;
			}
		}
		
	}




	.main-article--details__image-source {

		a {
			font-size: 0.4em;
		}
	}


	.widget--deal__wrapper,
	.widget--calendar__wrapper {
		margin-bottom: 30px;
		padding: 10px 10px;
	}

	.widget--deal__title,
	.widget--calendar__title {
		font-size: 1.2em;
	}

	.widget--calendar__date {
		font-size: 0.7em;
	}

	.share-buttons {
		font-size: 1em;
	}

		.share-icon {
			margin-right: 10px;
		}

		.social-button {
			display: block;
			padding: 0px 20px;
			margin-right: 5px;

			&:first-child {
				margin-left: 10px;
			}

		}


	/*----------  ABOUT PAGE  ----------*/

	.content-wrap section {
		padding: 30px 15px 20px;
	}
	
	.contributors-info {
		font-size: 0.7em;
		line-height: 1.4em;
		letter-spacing: 1px;
	}

	.contact-title {
		font-size: 1.5em;
	}

	.contact-email {
		font-size: 0.6em;
	}


	.profile-card--avatar {
		top: 150px;
	}

	.profile-card--avatar-image {
		width: 100px;
		height: 100px;
	}

	.profile-card--name {
		font-size: 1.2em;
		margin-top: 40px;
	}

	.profile-card--description {
		font-size: 0.8em;
		line-height: 1em;
	}

	.profile-card--role {
		font-size: 0.7em;
	}

	.profile-card--social-links__item {
		a {
			font-size: 1em;
			padding: 2px 0;
		}
	}

	.contact-title {
		font-size: 1.5em;
	}


	.contact-form--input {
		margin-bottom: 25px;
		background-color: #fff;
		height: 35px;
		font-family: $font-family-domine;
		font-size: 0.8em;
	}

	label {
		font-size: 0.8em;
		line-height: 35px;
	}

	.contact-form--button {
		font-size: 1em;
		border: 2px solid $main-color;
		padding: 5px 10px;
	}


	.main-footer--links__item {

		margin-right: -1px;

		a {
			font-size: 0.7em;
			padding: 4px 2px 4px 0;
		}
	}


	/*----------  ACTIVITIES PAGE  ----------*/

	.months-item {

		a {
			font-size: 0.9em;
			padding: 5px 3px;
		}
	}


	.load-more-button {
		font-size: 1em;
		padding: 5px 10px;
	}


	.listing-item--button__ticket,
	.listing-item--button__deal {

		font-size: 0.7em;
		padding: 3px 6px 2px;

		}



	/*----------  ACTIVITIES DETAIL PAGE  ----------*/

	.activity--info__top {
		border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
	}

	.activity--button {
		margin-right: 5px;
	}

	.share-buttons--activity {
		font-size: 0.8em;

		.social-button {
			padding: 2px 20px;
			margin-right: 5px;

			&:first-child {
				margin-left: 5px;
			}

		}
	}


	.activity--info__title {
		font-size: 1.2em;
	}

	
	.activity--info__type--title {
		font-size: 1em;
		border-bottom: 1px dashed rgba(255, 255, 255, 0.6);

		.info-icon {
			width: 40px;
			height: 40px;
			margin-right: 10px;

			i {
				font-size: 1em;
			}
		}
	}

	.activity--info__type--content {
		padding: 10px;
	}


	.activity--info__line {
		font-size: 0.8em;
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.1);

		i {
			font-size: 1.3em;
			width: 20px;
		}

		span {
			margin-left: 5px;
		}
	}



	/*----------  Gallery item pag  ----------*/

	.gallery-title {
		font-size: 2em;
		margin-bottom: 10px;
	}
	
	.gallery-image {
		.owl-theme .owl-controls .owl-buttons .owl-prev,
	    .owl-theme .owl-controls .owl-buttons .owl-next {
	        top: 32%;
	        padding: 10px 8px;
	        font-size: 2em;
	        border-radius: 3px;
    	}

    	.owl-theme .owl-controls .owl-buttons .owl-prev {
	        left: -15px;
	    }
	     
	    .owl-theme .owl-controls .owl-buttons .owl-next {
	        right: -15px;
	    }
	}


	.gallery-image--slider {
		margin-bottom: 10px;

		.item {

	        img {
	            max-width: 88%;
	            
	        }
	    }
	}


	// Additional items 

	.tabs-style-tzoid nav {
		padding: 0 0.01em;
	}

	.tabs-style-tzoid nav ul li a {
		padding: 0 1.3em 0 0.3em;
		font-size: 0.6em;
		line-height: 2.2;
	}

	.tabs-style-tzoid .tabs-icon::before {
		font-size: 1em;
	}


	.deals--expired {

		.articles--list__thumbnail {

			.deals--expired-label {
				top: -8%;
				font-size: 1.2em;
				padding: 2px 0;
				transform: rotate(33deg);
			}
		}
	}

	.premium__info {
		font-size: 0.8em;
	}


	.premium__info--avatar {
		width: 60px;
		height: 60px;
	}


	.premium__wrapper {
		padding: 40px 10px 0;

		.widget--image,
		.widget--gallery {
			max-width: 100%;
		}

	}

	.premium__hero {
		margin-top: 20px;
	}

	.premium__text {
		padding-bottom: 25px;
	}

	.premium__title {
		font-size: 1em;
		line-height: 1;
		width: 90%;
	}

	.premium--category-badge {
		font-size: 0.5em;
		padding: 1px 2px;
		left: 5%;
		border-radius: 2px;
	}

	.premium__image-source {
		font-size: 0.5em;
		margin-bottom: 5px;
		right: 5px;
	}

	.language-switcher--premium {
		left: 0;
		margin-bottom: 5px;
		transform: scale(0.7);
	}

	.share-buttons--premium {
		font-size: 0.8em;
	}





}  /// END  ---  400px



