

/// 	Gemeral styles for typography, 
/// 	like headings, paragraphs and various
/// 	text used on the website




body {
  font-family: $font-family-raleway;
  font-size: $font-base-size;
  font-weight: $font-regular;
}

